body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif !important;
    background-image: url("metacity.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a[type="button"]{
    border: 3px solid white;
    border-radius: 15px;
    width: 140px;
}

.txt{
    margin-top: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 8%;
    width: 40%;
}
.built{
    background: linear-gradient(to right top, #3be4ea, #85e9ff, #c0edff, #eaf3ff, #ffffff);   
    -webkit-background-clip: text;    
    -webkit-text-fill-color: transparent;
    font-size: 135%;
}
.future{
    font-size: 300%;
    font-weight: bolder;
}
#gc{
    background: linear-gradient(to right top, #3be4ea, #85e9ff, #c0edff, #eaf3ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.avtar{
    width: 25%;
    height: 30%;
    transform: translateY(0px);
}
#flot{
    width: 100%;
    height: auto;
    margin-left: 6%;
    margin-top: 25%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

button[type="button"]{
    border: 2px solid white;
    border-radius: 15px;
    width: 160px;
    font-weight: bolder;
    margin-right: 5%;
}
#tele{
    width: 50px;
    height: 50px;
    border: 3px white solid;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#plane{
    display: inline-flex;
    align-items: center;
    margin: 15%;
    color: #f4d5f1;
}
.why{
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-left: 3%;
}
.mw{
    text-align: center;
    padding: 1%;
    padding-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 320%;
    
}
.spc{
    background: linear-gradient(to right top, #3be4ea, #85e9ff, #c0edff, #eaf3ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wmw{
    margin: 4%;
    margin-top: 6%;
    margin-left: 11%;
    margin-right: 15%;
}

div[class="card"]{
    border: 2px white solid;
    border-radius: 15px;
    background-image: linear-gradient(to right top, #cd00c6, #bd02c0, #ad04ba, #9e06b3, #8e07ac);
}
div[class="card"]:hover{
    background-image: linear-gradient(to right top, #ec08e4, #dc08df, #cc08db, #bc09d5, #ac0ad0);
}

.fixed-btn{
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px 8px rgba(242, 7, 234, 0.45);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 7%;
}

.inflx{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 4%;
    margin-left: 3.5%;
}

div[style="max-width: 16rem;"]{
    background-color: transparent;
    margin-top: 0;
    margin-right: 0.5%;
    border: none;
}

.card-header{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right top, #3be4ea, #85e9ff, #c0edff, #eaf3ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#wbmchn{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right top, #fb0000, #ff507e, #ff96d1, #f7d1fb, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
